{% extends "base_bootstrap.html" %}

{% block content %}
{% if user.is_authenticated %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">My Website</a>
  <br>
  <button class="navbar-toggler" type="button" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <a class="nav-link" href="#">Section 1</a>
        <a class="nav-link" href="#">Section 2</a>
        <a class="nav-link" href="#">Section 3</a>
        <a class="nav-link" href="#">Section 4</a>
    </ul>
  </div>
</nav>

<h2>Welcome {{ user.username }}!</h2>
{% else %}
<p>Please <a href="{% url 'login' %}">login</a> to continue.</p>
{% endif %}
{% endblock %}
