{% extends "base_dashboard.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center">
        <h1>Client Details for {{ client.nombre }}{% if client.project %}: {{ client.project.name }}{% endif %}</h1>
        <a href="{% url 'clientes:clientes_home' %}" class="btn btn-secondary">Return to Home</a>
    </div>

    <div class="mt-4">
        <a href="{% url 'clientes:edit_client' client.id_cliente %}" class="btn custom-brown-btn btn-sm">Edit Client</a>
        
        <form method="POST" action="{% url 'clientes:delete_client' client.id_cliente %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-sm">Delete Client</button>
        </form>
        <a href="{% url 'clientes:add_interaction' client.id_cliente %}" class="btn btn-success btn-sm">Add Interaction</a>
        <hr class="custom-hr my-2">
    </div>

    <div class="card mt-4">
        <div class="card-header bg-primary text-white">
            <h3 class="mt-4">Información de clientes</h3>
        </div>
        <div class="card-body">
            <p><strong>Project:</strong> {% if client.project %}{{ client.project.name }}</p>
            <p><strong>ID Cliente: </strong>{{ client.id_cliente }}</p>
            <p><strong>Fecha creación: </strong>{{ client.created_at }}</p>
            <p><strong>Email:</strong> {{ client.mail }}</p>
            <p><strong>Phone:</strong> {{ client.celular }}</p>
            <p><strong>Age:</strong> {{ client.edad }}</p>
            <p><strong>Status:</strong> {{ client.estatus }}</p>
            <p><strong>Property Type:</strong> {{ client.tipo_propiedad }}</p>
            {% endif %}</p>
        </div>
    </div>
    <hr style="border: 0; height: 3px; background-color: black;">
    <h3 class="mt-4">Interactions</h3>
    <ul class="list-group">
        {% for interaction in interactions %}
            <li class="list-group-item">
                <strong>{{ interaction.date|date:"Y-m-d" }}</strong><br> 
                <strong>{{ interaction.interaction_type }}:</strong> 
                {{ interaction.category }}
                <p class="mt-2">{{ interaction.notes }}</p>
            </li>
        {% empty %}
            <li class="list-group-item text-muted">No interactions yet.</li>
        {% endfor %}
    </ul>
</div>
<link rel="stylesheet" href="{% static 'clientes/css/styles.css' %}">
{% endblock %}
