{% extends "clientes/clientes_home.html" %}
{% load static %}

{% block right_content %}
<link rel="stylesheet" href="{% static 'clientes/css/styles.css' %}">

    <h2>Nueva Oportunidad para {{ client.nombre }}</h2>

    <form method="post">
        {% csrf_token %}
        <!-- Manually render only the desired fields -->
        <div class="form-group">
            {{ form.project.label_tag }}
            {{ form.project }}
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
{% endblock %}