{% extends "clientes/clientes_home.html" %}
{% load static %}
{% load humanize %}

{% block right_content %}
<link rel="stylesheet" href="{% static 'clientes/css/styles.css' %}">
    <div class="container mt-5">
        <h1 class="text-center">Dashboard</h1>
        <p class="text-center">Select a report or view:</p>
        <div class="d-flex justify-content-center mt-4">
            <a href="{% url 'clientes:tabular_leads' %}" class="btn btn-primary mx-2">Tabular Leads Report</a>
            <a href="{% url 'clientes:apartment_status_report' %}" class="btn btn-secondary mx-2">Apartment Status Report</a>
        </div>
    </div>


    {% endblock %}
