{% extends "base_bootstrap.html" %}

{% block content %}
  <h1>Calificaciones</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Estudiante</th>
        <th scope="col">Materia</th>
        <th scope="col">Calificación</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for calificacion in calificaciones %}
        <tr>
          <th scope="row">{{ calificacion.pk }}</th>
          <td>{{ calificacion.identificacion }}</td>
          <td>{{ calificacion.materia }}</td>
          <td>{{ calificacion.calif }}</td>
          <td>
            <a href="{% url 'calificacion_edit' pk=calificacion.pk %}" class="btn btn-primary">Editar</a>
            <a href="{% url 'calificacion_delete' pk=calificacion.pk %}" class="btn btn-danger">Eliminar</a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="5">No hay calificaciones disponibles.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'calificacion_new' %}" class="btn btn-success">Agregar Calificación</a>
  <a href="{% url 'menu' %}" class="btn btn-primary">Return to Menu</a>
{% endblock %}
