{% extends "base_bootstrap.html" %}

{% block content %}
  <h1>Detalles de calificación</h1>
  <table class="table">
    <tbody>
      <tr>
        <td>Materia:</td>
        <td>{{ calificacion.materia }}</td>
      </tr>
      <tr>
        <td>Estudiante:</td>
        <td>{{ calificacion.nombre }}</td>
      </tr>
      <tr>
        <td>Salón:</td>
        <td>{{ calificacion.salon }}</td>
      </tr>
      <tr>
        <td>Calificación:</td>
        <td>{{ calificacion.calif }}</td>
      </tr>
    </tbody>
  </table>
  <a href="{% url 'calificacion_edit' pk=calificacion.pk %}" class="btn btn-primary">Editar</a>
  <a href="{% url 'calificacion_delete' pk=calificacion.pk %}" class="btn btn-danger">Eliminar</a>
    <br><br>
  <a href="{% url 'calificacion_list' %}" class="btn btn-primary">Regresar a la lista de calificaciones</a>

{% endblock %}
