  {% extends "base_bootstrap.html" %}

  {% block content %}
    <h1>Materias List</h1>
    <a href="{% url 'materias_create' %}" class="btn btn-success">Add Materia</a>
    <br> <br>
    <form method="GET" class="form-inline mt-3">
      <button type="submit" class="btn btn-primary">Search</button>
      <div class="form-group ml-auto">
        <input type="text" name="q" class="form-control mr-2" placeholder="Search" value="{{ request.GET.q }}">
      </div>
    </form>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Salon</th>
          <th>Nombre</th>
          <th>Clave Materia</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for materia in object_list %}
          <tr>
            <td>{{ materia.grado }}</td>
            <td>{{ materia.nombre_materia }}</td>
            <td>{{ materia.clave_materia }}</td>
            <td>
              <a href="{% url 'studentmateria' materia.clave_materia %}" class="btn btn-primary">Details</a>
              <a href="{% url 'materias_edit' materia.pk %}" class="btn btn-primary">Edit</a>
              <a href="{% url 'materias_delete' materia.pk %}" class="btn btn-danger">Borrar</a>
                {% csrf_token %}
              </form>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="4">No materias.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url 'menu' %}" class="btn btn-primary">Return to Menu</a>
  {% endblock %}
