{% extends "base_bootstrap.html" %}

{% block content %}
  <h1>Welcome to the School App</h1>
  {% if user.is_authenticated %}
  <p>You are logged in as {{ user.username }}.</p>
  <p> <a href="{% url 'logout' %}"class="btn btn-success">Logout</a></p>
  <br> <br>
  {% else %}
    <p>Please <a href="{% url 'login' %}">login</a> to access the app.</p>
  {% endif %}
  <p>Please select an option:</p>
  <div class="row">
    <div class="col-sm-3" style="width: 20%;">
      <button type="button" class="btn btn-primary btn-block"><a href="{% url 'salones_list' %}" style="color: yellow">Salones List</a></button>
    </div>
    <div class="col-sm-3" style="width: 20%;">
      <button type="button" class="btn btn-primary btn-block"><a href="{% url 'student_list' %}" style="color: yellow">Student List</a></button>
    </div>
    <div class="col-sm-3" style="width: 20%;">
      {% if user.is_staff %}
      <button type="button" class="btn btn-primary btn-block"><a href="{% url 'materias_list' %}" style="color: yellow">Materias List</a></button>
      {%endif%}
    </div>
    <div class="col-sm-3" style="width: 20%;">
      {% if user.is_staff %}
      <button type="button" class="btn btn-primary btn-block"><a href="{% url 'calificacion_list' %}" style="color: yellow">Calificaciones</a></button>
    {%endif%}
    </div>
  </div>
{% endblock %}
