{% extends "base_bootstrap.html" %}

{% block content %}
  <h1>Salones</h1>

  <p>You are logged in as {{ user.username }}.</p>
  <p> <a href="{% url 'logout' %}"class="btn btn-success">Logout</a></p>

  <a href="{% url 'salones_create' %}" class="btn btn-success">Create a New Salon</a>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Grado</th>
        <th>Salon</th>
        <th>Profesor</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for salon in salones %}
        <tr>
          <td>{{ salon.grado }}</td>
          <td>{{ salon.salon }}</td>
          <td>{{ salon.profesor }}</td>
          <td><a href="{% url 'salones_detail' salon.pk %}">Details</a></td>
          <td><a href="{% url 'salones_update' salon.pk %}" class="btn btn-primary"> Edit</a></td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4">No Salones found.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'menu' %}" class="btn btn-primary">Return to Menu</a>

{% endblock %}
