{% extends "base_bootstrap.html" %}

{% block content %}
<h1>Student List</h1>  
<p>You are logged in as {{ user.username }}.</p>
  <p> <a href="{% url 'logout' %}"class="btn btn-success">Logout</a></p>

  {% if user.is_authenticated %}
    
    <a href="{% url 'student_create' %}" class="btn btn-primary">Add New Student</a>
    <a href="{% url 'menu' %}" class="btn btn-primary">Return to Menu</a>
    <br> <br>
    <form method="GET" class="form-inline mt-3">
      <button type="submit" class="btn btn-primary">Search</button>
      <div class="form-group ml-auto">
        <input type="text" name="q" class="form-control mr-2" placeholder="Search" value="{{ request.GET.q }}">
      </div>
    </form>

    <br> <br>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Identificacion</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Salon</th>
          <th>Detail</th>
        </tr>
      </thead>
      <tbody>
        {% for student in object_list %}
          <tr>
            <td>{{ student.identificacion }}</td>
            <td>{{ student.nombre_est }}</td>
            <td>{{ student.apellido_est }}</td>
            <td>{{ student.salon }}</td>
            <td><a href="{% url 'student_detail' student.pk %}">Detail</a></td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="6">No students yet.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>You do not have permission to view this page.</p>
  {% endif %}
{% endblock %}
