{% extends "analysis/analysis_home.html" %}
{% load static %}
{% load humanize %}

{% block right_content %}
<link rel="stylesheet" href="{% static 'analysis/css/analysis.css' %}">
    <h1>Editar: {{ project_cost.project.name }}</h1>  <!-- Use the single project_cost object -->

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        
        <!-- Save Changes Button with aria-label for accessibility -->
        <button type="submit" class="btn btn-success btn-sm" aria-label="Save Changes">Save Changes</button>
        
        <a href="{% url 'analysis:analysis_home' %}" class="btn btn-delete btn-sm" aria-label="Cancel">Cancel</a>
    <a href="{% url 'analysis:project_detail' project_cost.id %}" class="btn custom-brown-btn btn-sm" aria-label="Return to Project Detail">Regresar</a>
    </form>
{% endblock %}
