{% extends "analysis/analysis_home.html" %}
{% load static %}
{% load humanize %}

{% block right_content %}
    <link rel="stylesheet" href="{% static 'analysis/css/analysis.css' %}">

<h1>Edit Project: {{ project_cost.project.name }}</h1>
<h1>Edit Project: {{ project_cost.id }}</h1>


<!-- Links for Project Actions -->
<div class="card-body d-flex">
    <a href="{% url 'analysis:edit_project_cost' project_cost.id %}" class="btn custom-brown-btn btn-sm">Costos</a>
    <a href="{% url 'analysis:edit_project_terreno' project_cost.id %}" class="btn custom-brown-btn btn-sm">Terreno</a>
    <a href="{% url 'analysis:edit_project_fechas' project_cost.id %}" class="btn custom-brown-btn btn-sm">Fechas</a>
    <a href="{% url 'analysis:edit_project_ventas' project_cost.id %}" class="btn custom-brown-btn btn-sm">Ventas</a>
</div>

{% endblock %}
