{% extends "base_dashboard.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'menu/css/styles.css' %}">

<!-- Superuser Section -->
{% if user.is_superuser %}
<div class="container">
    <div class="grid-container">
        <!-- Section 1 - Planeación -->
        <div class="grid-item">
            <p class="custom-paragraph">Planeación</p>
            <div class="d-flex justify-content-center align-items-center">
                <button class="btn brown-btn me-2" onclick="location.href='{% url 'apartments:project_list' %}'">
                    Admin Proyectos
                </button>
                <button class="btn brown-btn" onclick="location.href='{% url 'analysis:analysis_home' %}'">
                    Analysis Home
                </button>
            </div>
        </div>

        <!-- Section 2 - Ventas -->
        <div class="grid-item">
            <p class="custom-paragraph">Ventas</p>
            <div class="d-flex justify-content-center align-items-center">
                <button class="btn brown-btn me-2" onclick="location.href='{% url 'clientes:clientes_home' %}'">
                    CRM
                </button>
                <button class="btn brown-btn" onclick="location.href='{% url 'pagos:payments_index' %}'">
                    Admin Venta
                </button>
            </div>
        </div>

        <!-- Section 3 - Administración -->
        <div class="grid-item">
            <p class="custom-paragraph">Administración</p>
            <div class="d-flex justify-content-center align-items-center">
                <button class="btn brown-btn me-2" onclick="location.href='{% url 'egresos:egresos_menu' %}'">
                    Compras/Almacén/Pagos
                </button>
                <button class="btn brown-btn" onclick="location.href='{% url 'bancos:bancos_menu' %}'">
                    Ingresos / Bancos
                </button>
            </div>
        </div>

        <!-- Section 4 - Usuarios -->
        <div class="grid-item">
            <p class="custom-paragraph">Usuarios</p>
            <div class="d-flex justify-content-center align-items-center">
                <button class="btn brown-btn me-2" onclick="location.href='{% url 'menu:register_user' %}'">
                    Registro de usuarios
                </button>
                <button class="btn brown-btn" onclick="location.href='{% url 'menu:change_password' %}'">
                    Cambio de contraseña
                </button>
                <button class="btn brown-btn" onclick="location.href='{% url 'menu:register_clientes' %}'">
                    Dar de alta usuario/cliente
                </button>
            </div>
        </div>
    </div> <!-- End of grid-container -->
</div> <!-- End of container -->

<!-- Ventas Group Section -->
{% elif is_ventas_group %}
<div class="container">
    <div class="grid-container">
        <!-- Section - Ventas -->
        <div class="grid-item">
            <p class="custom-paragraph">Ventas</p>
            <div class="d-flex justify-content-center align-items-center">
                <button class="btn brown-btn" onclick="location.href='{% url 'pagos:payments_index' %}'">
                    Admin Venta
                </button>
            </div>
        </div>

        <!-- Section - Usuarios -->
        <div class="grid-item">
            <p class="custom-paragraph">Usuarios</p>
            <div class="d-flex justify-content-center align-items-center">
                <button class="btn brown-btn" onclick="location.href='{% url 'menu:change_password' %}'">
                    Cambio de contraseña
                </button>
                <button class="btn brown-btn" onclick="location.href='{% url 'menu:register_clientes' %}'">
                    Dar de alta usuario/cliente
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Administración Group Section -->
{% elif is_administracion_group %}
<div class="container">
    <div class="grid-container">
        <!-- Section - Administración -->
        <div class="grid-item">
            <p class="custom-paragraph">Administración</p>
            <div class="d-flex justify-content-center align-items-center">
                <button class="btn brown-btn" onclick="location.href='{% url 'egresos:egresos_menu' %}'">
                    Compras / Almacén / Pagos
                </button>
            </div>
        </div>

        <!-- Section - Usuarios -->
        <div class="grid-item">
            <p class="custom-paragraph">Usuarios</p>
            <div class="d-flex justify-content-center align-items-center">
                <button class="btn brown-btn" onclick="location.href='{% url 'menu:change_password' %}'">
                    Cambio de contraseña
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Clientes Group Section -->
{% elif is_clientes_group %}
<div class="container">
    <div class="grid-container">
        <!-- Section 2 - Ventas -->
        <div class="grid-item">
            <p class="custom-paragraph">Estado de cuenta</p>
            <button class="btn brown-btn" onclick="location.href='{% url 'pagos:payments_index' %}'">
                Estado de Cuenta
            </button>
        </div>

        <!-- Section 4 - Usuarios -->
        <div class="grid-item">
            <p class="custom-paragraph">Usuarios</p>
            <div class="d-flex justify-content-center align-items-center">
                <button class="btn brown-btn" onclick="location.href='{% url 'menu:change_password' %}'">
                    Cambio de contraseña
                </button>
            </div>
        </div>
    </div> <!-- End of grid-container -->
</div> <!-- End of container -->
{% endif %}
{% endblock %}

