{% extends "base_dashboard.html" %}
{% load humanize %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h1>Create a New Project</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn custom-brown-btn  btn-sm">Save Project</button>
        <a href="{% url 'apartments:project_list' %}" class="btn custom-brown-btn btn-sm">Regresar</a>
    </form>
    <hr class="custom-hr my-4">
</div>
<link rel="stylesheet" href="{% static 'apartments/css/styles.css' %}">
{% endblock %}
