{% extends "base_dashboard.html" %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'apartments/css/styles.css' %}">

<!-- Header Section -->
<div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="custom-brown-text">Lista de proyectos</h2>
</div>

<div class="container">
    <hr class="custom-hr">
    <br>
    <a href="{% url 'menu:menu' %}" class="btn custom-brown-btn btn-sm">Regresar al Menú Principal</a>
    <a href="{% url 'apartments:create_project' %}" class="btn custom-brown-btn btn-sm">Crear un nuevo proyecto</a>
    
</div>

<!-- Project Grid -->
<div class="container">
    <div class="project-list">
        {% for project in projects %}
        <div class="project-card">
            <!-- Project Image -->
            <div class="project-image-container">
                <h2><strong>{{ project.name }}</strong></h2>
                {% if project.image %}
                <img src="{{ project.image.url }}" alt="{{ project.name }}" class="project-image">
                {% else %}
                <p>No image available</p>
                {% endif %}
            </div>



            <!-- Project Details -->
            <div class="project-info">
                <p><strong>{{ project.location }}</strong></p>
                <p><strong>{{ project.tipo }}</strong></p>
                <p>{{ project.description }}</p>
                <p>Start: {{ project.start_date|date:"F j, Y" }}</p>
            </div>
        </div>
            <!-- Action Buttons -->
            <div class="container">
                <div class="project-buttons">
                    <a href="{% url 'apartments:project_edit' project.pk %}" class="btn custom-brown-btn btn-sm" aria-label="Edit Project">Edit Project</a>
                    <a href="{% url 'apartments:apartment_list' project.pk %}" class="btn btn-success btn-sm" aria-label="View Apartments">View Apartments</a>
                    <a href="{% url 'apartments:add_apartment' %}" class="btn btn-success btn-sm" aria-label="Add Apartments">Add Apartments</a>
                    <a href="{% url 'apartments:project_delete' project.pk %}" class="btn btn-delete btn-sm" onclick="return confirm('Are you sure you want to delete this project?');" aria-label="Delete Project">Delete Project</a>
                </div>
                <div>
                    <br>
                <hr class="custom-hr">
            </div>
            </div>
            

        {% empty %}
        <p>No projects available.</p>
        {% endfor %}
    </div>
</div>

<hr class="custom-hr">

{% endblock %}
