{% extends "base_bootstrap.html" %}
{% load humanize %}

{% block content %}
    <h1>Estado de Cuenta para {{ payment_record.cliente }}</h1>
    <table class="table">
        <tr>
            <th>Total Adeudado</th>
            <td>${{ account_statement.total_due|floatformat:0|intcomma }}</td>
        </tr>
        <tr>
            <th>Total Pagado</th>
            <td>${{ account_statement.total_paid|floatformat:0|intcomma }}</td>
        </tr>
        <tr>
            <th>Saldo Pendiente</th>
            <td>${{ account_statement.balance_due|floatformat:0|intcomma }}</td>
        </tr>
    </table>

    <h2>Total Adeudado - Plan de Pagos</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Mes</th>
                <th>Pago Programado</th>
                <th>Tipo de Pago</th>
            </tr>
        </thead>
        <tbody>
            {% for payment in payment_schedule %}
                <tr>
                    <td>{{ payment.mes }}</td>
                    <td>${{ payment.pago|floatformat:0|intcomma }}</td>
                    <td>{{ payment.tipo }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Transacciones de Pago</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Fecha de Pago</th>
                <th>Monto Pagado</th>
                
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.payment_date }}</td>
                    <td>${{ transaction.amount_paid|floatformat:0|intcomma }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'pagos:list_payment_records' %}" class="btn btn-primary">Volver a la lista</a>
{% endblock %}
