{% extends "pagos/admin_venta_menu.html" %}
{% load static %}
{% load humanize %}

{% block right_content %}
<link rel="stylesheet" href="{% static 'pagos/css/apartment_detail.css' %}">

    <h1>Cambiar Estatus del Apartamento {{ apartment.number }}</h1>

    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label class="form-label" for="status">Seleccione el nuevo estatus</label>
            <select name="status" id="status" class="form-control">
                <option value="apartado">Apartado</option>
            </select>
        </div>

        <button type="submit" class="btn btn-success">Actualizar Estatus</button>
    </form>
{% endblock %}
