{% extends "pagos/admin_venta_menu.html" %}

{% block right_content %}
<div class="container mt-5">
    <h1 class="mb-4">Edit Price List Values for Apartment {{ price_list.apartment.number }}</h1>

    <form method="POST" class="p-4 rounded shadow-sm" style="background-color: var(--primary-color-light);">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <div class="d-flex justify-content-end gap-2 mt-3">
            <button type="submit" class="btn btn-success btn-sm">Save</button>
            <a href="{% url 'pagos:price_list' %}" class="btn btn-secondary btn-sm">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
