{% extends "base_bootstrap.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-5">Administración de la venta</h1>
    <div class="row mx-n2">
        <!-- Card 1 -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <i class="fas fa-list-alt fa-2x mb-3 text-primary"></i>
                    <h5 class="card-title">3.1 Lista de precios</h5>
                    <a href="{% url 'pagos:price_list' %}" class="btn btn-primary btn-block">Acceder</a>
                    <div>&nbsp;</div>
                </div>
            </div>
        </div>
        
        <!-- Card 2 -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <i class="fas fa-boxes fa-2x mb-3 text-primary"></i>
                    <h5 class="card-title">3.2 Inventarios</h5>
                    <a href="{% url 'pagos:inventario' %}" class="btn btn-primary btn-block">Acceder</a>
                    <div>&nbsp;</div>
                </div>
            </div>
        </div>
        
        
        <!-- Card 3 -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <i class="fas fa-building fa-2x mb-3 text-primary"></i>
                    <h5 class="card-title">3.2b Vista edificio</h5>
                    <a href="{% url 'pagos:plan_edificio' %}" class="btn btn-primary btn-block">Acceder</a>
                    <div>&nbsp;</div>
                </div>
            </div>
        </div>
        
        <!-- Card 4 -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <i class="fas fa-file-invoice fa-2x mb-3 text-primary"></i>
                    <h5 class="card-title">3.3 Cotización</h5>
                    <a href="{% url 'pagos:cotizacion' %}" class="btn btn-primary btn-block">Acceder</a>
                    <div>&nbsp;</div>
                </div>
            </div>
        </div>
        
        <!-- Card 5 -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <i class="fas fa-hand-holding-usd fa-2x mb-3 text-success"></i>
                    <h5 class="card-title">3.5 Apartado y Venta</h5>
                    <a href="{% url 'pagos:lista_departamentos' %}" class="btn btn-success btn-block">Acceder</a>
                    <div>&nbsp;</div>
                </div>
            </div>
        </div>
        
        <!-- Card 6 -->
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <i class="fas fa-wallet fa-2x mb-3 text-success"></i>
                    <h5 class="card-title">3.6 Estado de cuenta</h5>
                    <a href="{% url 'pagos:list_payment_records' %}" class="btn btn-success btn-block">Acceder</a>
                    <div>&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
