{% extends "pagos/admin_venta_menu.html" %}
{% load static %}
{% load humanize %}

{% block right_content %}
<link rel="stylesheet" href="{% static 'pagos/css/apartment_detail.css' %}">

<h1>Lista de Registros de Pagos</h1>
<a href="{% url 'pagos:payments_index' %}" class="btn btn-primary">Volver al menú</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Cliente</th>
            <th>Proyecto</th>
            <th>Apartment Number</th>
            <th>% Descuento</th>
            <th>% Enganche</th>
            <th>% Mensualidades</th>
            <th># Mensualidades</th>
            <th>Mes de Inicio</th>
            <th>Fecha de Registro</th>
            <th>Estado de Cuenta</th>
            <th>Eliminar</th>
            {% if is_admin %}
            <th>Registrar Pagos</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for record in records %}
            <tr>
                <td>{{ record.cliente }}</td>
                <td>{{ record.project.name }}</td>
                <td>{{ record.apartment.number }}</td>
                <td>{{ record.porcentaje_descuento }}</td>
                <td>{{ record.porcentaje_enganche }}</td>
                <td>{{ record.porcentaje_mensualidades }}</td>
                <td>{{ record.num_mensualidades }}</td>
                <td>{{ record.mes_inicio }}</td>
                <td>{{ record.created_at|date:"Y-m-d H:i:s" }}</td>
                <td>
                    <form action="{% url 'pagos:record_detail' record.id %}" method="get" style="display:inline;">
                        <button type="submit" class="btn-success btn-sm">Detalle de pagos</button>
                    </form>
                </td>
                <td>
                    <form action="{% url 'pagos:delete_record' record.id %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this record?');">Delete</button>
                    </form>
                </td>
                
                {% if is_admin %}
                <td>
                    <a href="{% url 'pagos:register_payment' record.id %}" class="btn btn-warning">Registrar Pagos</a>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
